* {
    font-family: Arial, Helvetica, sans-serif;
    color: #edf0f7;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#generator.hidden, #checker.hidden {
    display: none;
}

html {
    height: 100%;
}

body {
    display: grid;
    grid-template-areas: "he" "ma" "fo";
    grid-template-rows: 125px 1fr 50px; 
    grid-template-columns: 100%;
    height: 100%;
    background-color: #090e1a;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-area: he;
    background-color: #0e1832;
    border-radius: 0px 0px 50px 50px;
}

main {
    display: grid;
    grid-template-areas: "swi" "gen";
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr; 
    grid-area: ma;
    padding: 20px;
    max-height: 425px;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-area: fo;
    background-color: #0e1832;
    border-radius: 50px 50px 0px 0px;
}

h1 {
    font-size: clamp(40px, 8vw, 75px);
}

h2 {
    font-size: clamp(16px, 3vw, 20px);
}

#section-switcher {
    grid-area: swi;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-self: center;
    max-width: 600px;
    width: 100%; 
}

#section-switcher button {
    background-color: #0b1425;
    width: 50%;
    height: auto;
    padding: 10px 0;
    border-radius: 25px 25px 0px 0px;
    border: none;
    font-size: clamp(12px, 3vw, 16px);
}

#section-switcher .sel {
    background-color: #232c41;
}

#generator {
    justify-self: center;
    display: grid;
    max-width: 600px;
    width: 100%; 
    grid-template-rows: auto auto auto auto auto; 
    grid-template-columns: 35% 65%;
    grid-template-areas: 
        "gt gt"
        "po po"
        "lsl ls"
        "cd cd"
        "gp gp";
    grid-area: gen;
    background-color: #232c41;
    padding: 20px; 
    border-radius: 0px 0px 25px 25px;
}

h3 {
    grid-area: gt;
    text-align: center;
    font-size: 25px;
}

#password-output {
    grid-area: po;
    width: 100%;
    text-align: center;
    height: 50px;
    border-radius: 25px;
    border: none;
    color: #090e1a;
    font-size: 16px;
    padding: 0 15px;
}

#length-slider-label {
    grid-area: lsl;
    align-self: center;
}

#length-slider {
    grid-area: ls;
}

#checkbox-div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    grid-area: cd;
    flex-wrap: wrap; 
}

#checkbox-div label {
    min-width: 100px;
}

#generate-password {
    grid-area: gp;
    border-radius: 25px;
    border: none;
    background-color: #537ddf;
    color: #090e1a;
    max-width: 300px;
    width: 100px;
    justify-self: center;
    align-self: center;
    font-size: 20px;
    height: 50px;
    margin-top: 10px;
}

#checker {
    justify-self: center;
    display: grid;
    max-width: 600px;
    max-height: 300px;
    background-color: #232c41;
    padding: 35px 20px;
    border-radius: 0px 0px 25px 25px;
    grid-area: gen;
}